default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        stages: [pre-commit]

  - repo: https://github.com/psf/black
    rev: 25.11.0
    hooks:
      - id: black
        stages: [pre-commit]

  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        stages: [pre-commit]
        args: ["--max-line-length=100", "--extend-ignore=E203,W503"]
        stages: [pre-commit]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.29.0
    hooks:
      - id: gitleaks
        stages: [pre-commit]

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        args: ["--config=.commitlintrc.json"]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        stages: [pre-commit]
